<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./head'); %>
</head>

<body class="container">
    <header>
        <%- include('./header'); %>
    </header>
    <main>
        <hr>
        <h3 class="navbar navbar-expand-lg navbar-light bg-light">Edit Post</h3>
        <div>
            <form  action="/post/<%= post.id %>/edit" method="POST">
                <div>
                    <label for="title">Post Title:</label><br>
                    <input type="text" placeholder="Enter Title" name="title" id="title" value="<%= post.title %>" required>
                </div>
                <div>
                    <label for="body">Post Body:</label><br>
                    <textarea type="text" rows="5" cols="80" placeholder="Enter Body" id="body" name="body" required>
                        <%= post.body %>
                    </textarea>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
        </main>
    <footer>
        <%- include('./footer'); %>
    </footer>
</body>

</html>