<% if (locals.covidstatus) { %>
    <p class="text-center text-muted"><div class = "post-head">Covid 19 (Bangladesh) UPDATE:
        <%- covidstatus.All.updated %></div> 
        <div class = "post-body" style = "margin-left: auto;margin-right: auto;">
            Confirmed Cases: <%- covidstatus.All.confirmed %><br>
            Recovered: <%- covidstatus.All.recovered %><br>
            Total deaths: <%- covidstatus.All.deaths %></div>
    </p>
    <% } %>

    <% if (locals.randomanimequotes && locals.advice) { %>
<div class="random-head">Random Things: </div>
    <u>Advice of the second:</u> <%- advice.slip.advice %><br>
    <u>Anime Quotes:</u> "<%- randomanimequotes.quote %>"
    <%- randomanimequotes.character %>,
    <%- randomanimequotes.anime %>
<% } %>

<%if (locals.name) { %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/post_status">Add Post</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/post">My Posts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/post/all">Public Posts</a>
        </li>
    </ul>
</nav>
<% } %>

<p class="text-center text-muted" style="background:lightgray">© Copyright 2021</p>