
  <%if (locals.name) { %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">
    Hi <%= name %>
    <a href="/logout">(logout)</a>
  </a>
</nav>
<% } else { %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    Hi Stranger!
</nav>
<% } %>

<%if (locals.msg) { %>
  <div class = 'msg'>
    <%- msg %>
  </div>
<% } %>

<%if (locals.successMsg) { %>
  <div class = 'successMsg'>
    <%- successMsg %>
  </div>
  <script>
  setTimeout(function(){
    window.location = "/post";
   },3000);
   </script>   
<% } %>

<%if (locals.errorMsg) { %>
  <div class = 'errorMsg'>
    <%- errorMsg %>
  </div>
  <script>
  setTimeout(function(){
    window.location = "/post";
   },3000);
   </script>   
<% } %>


<%if (locals.emptyMsg) { %>
  <div class = 'emptyMsg'>
    <%- emptyMsg %>
  </div>
  <% } %>

