<html lang="en">

<head>
    <%- include('./head'); %>
</head>


<body class="container">
    <header>
        <%- include('./header'); %>
    </header>
    <main>
        <%if (locals.post) { %>
        You have total <%- post.length %> post(s) displaying below:
        <hr>
        <% for(let i=post.length-1; i >= 0; i--) { %>
        <table width = '100%'>
            <tr>
                <th class = 'post-head'>
                    <%=i+1%>. <%= post[i].title %>
                </th>
            </tr>
            <tr>
                <td class = "post-body">
                    <%= post[i].body %> <br>
                    <a href="post/<%= post[i].id %>/edit">edit</a> | <a href="post/<%= post[i].id %>/delete">delete</a>
                    <br>Created at: <%= post[i].createdAt %><br>
                </td>
            </tr>
        </table>    
        <% } %>
        <% } %>


        <%if (locals.posts) { %>
        Total <%- posts.length %> posts displaying below:
        <hr>
        <% for(let i=posts.length-1; i >= 0; i--) { %>
        <table width="100%">
            <tr>
                <th class = 'post-head'>
                    <%= i+1 %>. <%= posts[i].title %>
                </th>
            </tr>
            <tr>
                <td class = 'post-body'>
                    Posted at: <%= posts[i].createdAt %> by
                    <%= posts[i].username %><br><br>
                    <%= posts[i].body %>
                </td><br>
            </tr>
        </table>
        <% } %>
        <% } %>


        <footer>
            <%- include('./footer'); %>
        </footer>
    </main>
</body>

</html>